<p>
	<label id="settings_ticket_id_prefix">Ticket ID Prefix in SCM Commit Messages</label>
	<input type="text" id="settings_ticket_id_prefix" value="<%= settings['ticket_id_prefix'] %>" name="settings[ticket_id_prefix]" />
	<em class="info">Separate multiple items by a comma</em>
</p>
